*{
    padding: 0px;
    margin: 0px;
    }
    body{
    background-image: lineargradient(rgba(127, 140, 141,0.5), rgba(127, 140, 141,0.7)), url("image.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    }
    h1{
    text-align: center;
    margin: 30px 0px;
    font-size: 40px;
    color: #d35400;
    animation-name: live;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: linear;
}
@keyframes live{
0%{
color: #e74c3c;
}
40%{
color: white;
}
70%{
    color: #e84118;
}
100%{
color: #95a5a6;
}
}
h2{
text-align: center;
color: rgba(243, 156, 18,1.0);
font-size: 30px;
margin-bottom: 20px;
}
#india{
width: 20%;
margin: 0 auto;
background: #222f3e;
border-radius: 8px;
box-shadow: 2px 2px 4px white;
}
#india h3{
    text-align: center;
line-height: 45px;
color: rgba(236, 240, 241,1.0);
}
#india h3 span{
color: #222f3e;
animation-name: live;
animation-iteration-count: infinite;
animation-duration: 3s;
animation-timing-function: linear;
}
.active{
font-size: 25px;
background: #273c75;
border-radius: 8px;
box-shadow: 2px 2px 4px white;
color: #bdc3c7;
}
.active span{
font-size: 36px;
color: teal;
animation-name: live;
animation-iteration-count: infinite;
animation-duration: 5s;
animation-timing-function: linear;
}
.confirm{
font-size: 25px;
background: rgba(211, 84, 0,1);
border-radius: 8px;
box-shadow: 2px 2px 4px white;
color: #bdc3c7;
}
.confirm span{
font-size: 36px;
color: #222f3e;
animation-name: live;
animation-iteration-count: infinite;
animation-duration: 3s;
animation-timing-function: linear;
}
.death {
font-size: 25px;
background: rgba(192, 57, 43, 1);
border-radius: 8px;
box-shadow: 2px 2px 4px white;
color: #bdc3c7;
}
.death span{
font-size: 36px;
color: #222f3e;
animation-name: live;
animation-iteration-count: infinite;
animation-duration: 4s;
animation-timing-function: linear;
}
.delta{
font-size: 25px;
background: rgba(192, 57, 43, 1);
border-radius: 8px;
box-shadow: 2px 2px 4px white;
color: #bdc3c7;
}
.delta span{
font-size: 36px;
color: #222f3e;
animation-name: live;
animation-iteration-count: infinite;
animation-duration: 3s;
animation-timing-function: linear;
}
.recover{
font-size: 25px;
background: #273c75;
box-shadow: 2px 2px 4px white;
border-radius: 8px;
color: #bdc3c7;
}
.recover span{
font-size: 36px;
color: #222f3e;
animation-name: live;
animation-iteration-count: infinite;
animation-duration: 3s;
animation-timing-function: linear;
}
.state{
font-size: 25px;
background: rgba(211, 84, 0,1);
border-radius: 8px;
box-shadow: 2px 2px 4px white;
color: #bdc3c7;
}
.state span{
font-size: 36px;
color: #222f3e;
animation-name: live;
animation-iteration-count: infinite;
animation-duration: 4s;
animation-timing-function: linear;
}
.corona{
width: 80%;
margin: 0 auto;
margin-top: 40px;
}
.corona ul {
list-style-type: none;
}
.corona ul li{
display: inline-block;
text-align: center;
margin: 10px 10px;
width: 30%;
padding: 8px 0px;
line-height: 40px;
font-weight: 500;
}
.update{
width: 40%;
margin: 0 auto;
margin-top: 30px;
margin-bottom: 20px;
font-weight: 500;
background: transparent;
border-radius: 8px;
box-shadow: 2px 2px 4px white;
color: #bdc3c7;
}
.update ul{
list-style-type: none;
text-align: center;
}
.update ul li{
padding: 20px 0px;
font-size: 25px;
}
.update ul li span{
font-size: 36px;
animation-name: update_time;
animation-iteration-count: infinite;
animation-duration: 4s;
animation-timing-function: linear;
}
@keyframes update_time{
0%{
color: silver;
}
30%{
    color: tomato;
}
70%{
color: teal;
}
85%{
color: #7f8c8d;
}
100%{
color: #e74c3c;
}
}
.header{
width: 90%;
margin: 0 auto;
margin-top: 25px;
}
.header h4{
    font-size: 30px;
    color: #d35400;
    }
    .header p{
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 10px;
    font-weight: 600;
    color: #2c3e50;
    }
    #india span{
    font-size: 36px;
    }